.footer {
  background-color: #676767;
  height: 60px;
  position: relative;
  color: #fff;
   /* -moz-box-shadow: 0 -5px 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 -5px 6px rgba(0,0,0,0.5); */
  box-shadow: 0 -10px 6px rgba(0, 0, 0, 0.35);
  text-align: center;
  transition-property: all;
  transition-duration: 1s;
  /* transition-delay: 2s, 4s; */
  transition-timing-function: ease-in;
}

.footer:hover {
  color: #bd1015;
  transition-duration: .3s;
}